@import url(root.css);

body {
  font-family: Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

#hero {
  background-image: url("files/img/hero.png");
  width: 100%;
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.511);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

}

#introduction {
  background: linear-gradient(180deg, var(--background-color), #252525e1);
}

#carousel {
  padding-top: 6rem;
  padding-bottom: 5rem;
}

.line {
  width: 60px;
  margin: 0 auto;
  height: 8px;
  background: var(--primary-color);
}

#carousel .content {
  margin-top: 0;
}

#carousel img {
  border-radius: 20px;
}

.logo {
  width: 150px !important;
}

button {
  padding: 10px 14px;
  cursor: pointer;
}

/* Botón carrito flotante */
.cart-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 50px;
  padding: 10px 16px;
  z-index: 1000;
}

/* Contador */
.count {
  background: red;
  border-radius: 50%;
  padding: 2px 8px;
  margin-left: 6px;
  font-size: 14px;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  width: 90%;
}

.item {
  margin-bottom: 10px;
}

.remove {
  background: #eee;
  border: none;
  color: #900;
  cursor: pointer;
  margin-top: 5px;
}

.message {
  display: flex;
  align-items: center;
  height: 60vh;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center
}

.message h2 {
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.message img {
  width: 300px;
}

@media (max-width: 768px) {
  .message h2 {
    font-size: 2rem;
    text-align: center;
    margin-left: 0;
  }

  .message img {
    width: 200px;
    margin-bottom: 1rem;
  }
}

.cta li {
  list-style: lower-greek;
}

.cta-class h1{
  font-size: 3rem;
}

.cta-class li{
  font-size: 1.3rem;
}


.arrowUp {
  position: fixed;
  width: 40px;
  right: -100px;
  bottom: 20px;
  transition: all 0.5s;

}

.arrowUp .fa-solid {
  border: 1px solid var(--hover);
  background: linear-gradient(135deg,
      var(--primary-color),
      var(--secondary-color));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(10px);
  color: var(--text);
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 8px 10px 5px rgba(0, 0, 0, 0.328);
  transition: all 0.5s;
}

.arrowUp .fa-solid:hover {
  background-color: #1E40AF;
}

.arrowUp .fa-solid:active {
  background-color: #4765c7;
}

.contactMe {
  position: fixed;
  width: 40px;
  right: -100px;
  bottom: 20px;
  transition: all 0.5s;
}

.contactMe .fa-brands {
  background-color: #25D366;
  color: black;
  align-items: center;
  padding: 10px;
  border-radius: 100%;
  box-shadow: 8px 10px 5px rgba(0, 0, 0, 0.328);
  transition: all 0.5s;
  font-size: 40px;
}

.contactMe .fa-brands:hover {
  background-color: #09f55f;
}

.contactMe .fa-brands:active {
  background-color: #61ce89;
}